<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sa;password=@mmY;Data Source=WKWIN0591125;Database=DevLearningSitecore_Core"/>
  <add name="master" connectionString="user id=sa;password=@mmY;Data Source=WKWIN0591125;Database=DevLearningSitecore_Master"/>
  <add name="web" connectionString="user id=sa;password=@mmY;Data Source=WKWIN0591125;Database=DevLearningSitecore_Web"/>
  <add name="analytics" connectionString="mongodb://localhost/Sitecore_analytics"/>
  <add name="tracking.live" connectionString="mongodb://localhost/Sitecore_tracking_live"/>
  <add name="tracking.history" connectionString="mongodb://localhost/Sitecore_tracking_history"/>
  <add name="tracking.contact" connectionString="mongodb://localhost/Sitecore_tracking_contact"/>
  <add name="reporting" connectionString="user id=sa;password=@mmY;Data Source=WKWIN0591125;Database=DevLearningSitecore_Analytics"/>
  <add name="reporting.apikey" connectionString=""/>
</connectionStrings>
